<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout https://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{css/styles.css}" rel="stylesheet" />
    <!--<link th:href="@{css/mystyles.css}" rel="stylesheet" />-->
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Ayurvedic Medicine Shop</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">User: <span sec:authentication="name"></span> Privileges: <span sec:authentication="principal.authorities"></span></a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/register}">New Customer<br>Register Here</a></li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">Existing Customer<br>Login Here</a></li>

                </div>

                <div sec:authorize="isAnonymous()">
                    <li class="nav-item"><a class="nav-link" th:href="@{/courses/registercourse}">Cart</a></li>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/console/getallstudent}">Show All Products</a></li>
                            <li><a class="dropdown-item" th:href="@{#}">Show All Customers</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" th:href="@{/getcustomerbyemail}">Get Customer By Email</a></li>
                            <li><a class="dropdown-item" th:href="@{/getproductbyid}">Get product By Id</a></li>
                        </ul>
                    </li>

                </div>
                <div >
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact Us</a></li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" th:href="@{/products}">Products</a></li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Introduction to Ayurveda</h1>
<!--        <p class="lead">A complete project boilerplate built with Bootstrap</p>-->
        <img th:src="@{/images/imageOne.jpeg}"/>
        <p><strong>Ayurveda</strong>. While the word may be unknown to many, this holistic approach to medicine has been around for over 5,000 years.
            Ayurveda is the “traditional, ancient Indian system of health science” and known to be one of the oldest medical systems in the world.
            This type of holistic practice focuses on preventative measures, as well as the balance between body, mind and spirit.
            It encourages such balance through diet and nutrition, exercise, yoga and meditation and your overall lifestyle.</p>
        <cite><a href="https://www.mhainde.org/introduction-to-ayurveda/?gclid=CjwKCAjw9uKIBhA8EiwAYPUS3Kb1Fz19eCtNlJXP6RD6uYZTuM7ouNikNN_l942zvM9LqjTYb0Ek9RoCi7MQAvD_BwE">Introduction to Ayurveda</a></cite> by MHA.<br>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{js/scripts.js}"></script>
</body>
</html>