<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
http://www.ultraq.net.nz/thymeleaf/layout https://www.ultraq.net.nz/thymeleaf/layout
http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        login
    </title>
    <link th:href="@{css/myStyle.css}" rel="stylesheet" />
</head>
<body>
<div>

    <div> <svg id="i-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="70" height="70" fill="#9874ff" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
    </svg>
        <form th:action = "@{/login}" th:object = "${currentCustomer}" method = "post">
            User Login
            <input class="myInput"   type="text" th:field = "*{email}" placeholder="Email" >
            <p th:each="error : ${#fields.errors('email')}" th:text="${error}" th:style="'color: red;'">error</p>

            <input class="myInput"  type="password"  th:field = "*{password}" placeholder="Password" ><br>
            <p th:each="error : ${#fields.errors('password')}" th:text="${error}" th:style="'color: red;'">error</p>

            <input class="anotherInput" type="submit" value="LOGIN" ><br><br>
            <a th:href="@{login/password}" >Forgot password?</a>
        </form>
    </div></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>