<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product by id</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{css/productTable.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="text-center mt-5">
        <h1>Search product by Id</h1>
        <form action="getproductbyid" method="post" th:object="${product}">
            <label>Enter Id</label>
            <input type="text"  class="form-control" th:field="*{pid}" />
            <!--      <label style="color:red" th:each="error:${#fields.errors('email')}" th:text="${error}">error</label>-->
            <input type="submit" name="Submit" />
        </form>
    </div>
</div>

</body>
</html>